<!DOCTYPE html>
<html>
  <head>
    <title>PasswordlessAuthentication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user.present? %>
      <%= current_user.email %>
      <%= button_to 'Sign out', auth.sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', auth.sign_in_path %>
    <% end %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
